<?xml version="1.0"?>
<launch>

  <arg name="obstacle_model" default="$(find youbot_description)/urdf/youbot_obstacle/obstacle.urdf.xacro"/>

    <!-- compile obstacle model -->
  <param name="obstacle_description" command="$(find xacro)/xacro.py $(arg obstacle_model)" />

   <node pkg="gazebo_ros" type="spawn_model" name="spawn_obstacle" respawn="false" 
  output="screen"
    args="-params obstacle_description
    -urdf 
    -x 1.3
    -y 0.8
    -z 1.0
    -model obstacle
    -robot_namespace youbot">
  </node>
  
</launch>