<?xml version="1.0"?>
<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:property name="material_orange">
    <material name="orange">
      <color rgba="1.0 0.7 0.0 1"/>
    </material>
  </xacro:property>
<!--   <xacro:include filename="$(find youbot_description)/urdf/youbot_obstacle/obstacle.gazebo.xacro"/> -->
    <gazebo reference="youbot_obstacle_box">
      <material value="Gazebo/Orange" />
    </gazebo>  

<!--     <gazebo reference="youbot_obstacle_right_corner_wall">
      <material value="Gazebo/Gray" />
    </gazebo>   -->

  <!-- <xacro:macro name="youbot_obstacle"> -->
    <link name="youbot_obstacle_box">

      <inertial>
         <mass value="1e-2"/>
         <inertia ixx="${1e-2/12}" ixy="0.0" ixz="0.0" 
          iyy="${1e-2/12}" iyz="0.0000" 
          izz="${1e-2/12}"/>
      </inertial>

      <visual>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
         <box size="${2*0.15748} ${2*0.15748} ${0.35*0.8508}" />
       </geometry>
       <material name="orange"/>
       <origin xyz="0 0 0" rpy="0 0 0" />
      </visual>    

      <collision>
         <origin xyz="0 0 0" rpy="0 0 0" />
         <geometry>        
          <box size="${2*0.15748} ${2*0.15748} ${0.35*0.8508}"  />
         </geometry>
         <material name="orange"/>
      </collision>
    </link>

 <!--    <link name="youbot_obstacle_right_corner_wall">
      <inertial>
        <origin xyz="0 0.0 -0.075" /> 
        <mass value="10.0" />
        <inertia  ixx="1.0" ixy="0.0"  ixz="0.0"  iyy="1.0"  iyz="0.0"  izz="1.0" />
      </inertial>
      <visual>
        <origin xyz="0 0.0 -0.075"/>
        <geometry>
          <box size="0.5 0.8 0.15" />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0.0 -0.075" /> 
        <geometry>
        <box size="0.5 0.8 0.15" />
        </geometry>
      </collision>
    </link>

    <joint name="youbot_obstacle_joint" type="fixed">
      <origin xyz="${5*0.7} 0.15 0.0" rpy="0 0 0"/>
      <parent link="youbot_obstacle_right_corner_wall"/>
      <child link="youbot_obstacle_box"/>
    </joint> -->

    <!-- extensions --><!-- 
    <xacro:youbot_obstacle_gazebo name="youbot_obstacle"/> -->

  <!-- </xacro:macro> -->
</robot>

