<?xml version="1.0"?>
<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://ros.org/wiki/xacro">


  <xacro:macro name="youbot_obstacle_gazebo">
    <gazebo reference="youbot_obstacle_box">
      <material value="Gazebo/Orange" />
    </gazebo>  

    <gazebo reference="youbot_obstacle_right_corner_wall">
      <material value="Gazebo/Gray" />
    </gazebo>  
    

  </xacro:macro>

</robot>
